[Unit]
Description=web api for task management
After=network.target

[Service]
ExecStart=/usr/bin/python3 path/to/script/python/file
Restart=always
User=root
WorkingDirectory=path/to/script/folder

[Install]
WantedBy=multi-user.target
